body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0; /*1 vez o tamanho da fonte atual. 0 significa que não haverá preenchimento na esquerda e na direita*/
}

main {
    flex: 1; /*elemento flexível - ajuste*/
    padding: 1em;
}

.filter-section {
    margin-bottom: 1em; /*o preenchimento será equivalente a 1 vez o tamanho da fonte atual*/
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /*itens flexíveis dentro do contêiner flexível podem ser dispostos em várias linhas ou colunas*/
}

.image-item {
    flex: 1;
    margin: 1em;
    text-align: center;
    
}

.image-item img {
    width: 300px; /* ajuste padrão para todas as imagens*/
    height: 200px; /* ajuste padrão para todas as imagens*/
    object-fit: cover; /* para garantir que a imagem cubra a área definida */
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    }
    
footer {
    background-color: #4CAF50;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
}

/* Estilos para diferentes filtros de daltonismo */
.filter-image.achromatomaly {
    filter: grayscale(100%);
}

.filter-image.deuteranomaly {
    filter: hue-rotate(180deg);
}

.filter-image.tritanomaly {
    filter: sepia(100%) saturate(300%) hue-rotate(-50deg);
}

.filter-image.protanopy {
    filter: sepia(75%) saturate(100%);
}



